<ion-header></ion-header>

<ion-content>
  <div class="background">
    <div class="glass"></div>
  </div>
  <div class="logo">
    <img src="../../assets/logo.png" *ngIf="!isDarkMode" /> <!-- Default logo image -->
    <img src="https://i.insider.com/616d272a41af0d00193f0672?width=1136&format=jpeg" *ngIf="isDarkMode" /> <!-- Dark mode logo image -->
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="glass-card" (click)="scan()">
          <ion-card-content class="card-top-padding">
            <ion-row class="ion-justify-content-center">
              <ion-icon  name="barcode-outline"></ion-icon>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text>Scan pakket</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="glass-card" (click)="settings()">
          <ion-card-content class="card-top-padding">
            <ion-row class="ion-justify-content-center">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text>Instellingen</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="glass-card" (click)="pakketten()">
          <ion-card-content class="card-top-padding">
            <ion-row class="ion-justify-content-center">
              <ion-icon name="list"></ion-icon>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text>Pakketten</ion-text>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
