ion-content {
}

.icon {
  text-align: center;
  width: 56px;
  height: 56px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1px;
}
img {
  padding-bottom: 8px;
  height: 56px;
}
.menu {
  padding: 10px;
  padding-left: 0px;
}
ion-col {
  padding: 0px;
}
ion-card-content {
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
}
.card-top-padding {
  padding-top: 20px;
}
ion-icon {
  font-size: 40px;
}

ion-card:active {
  ion-icon {
    // color: #22b24c;
    color: #190973;
  }
}

ion-text {
  font-family: "Gesta-Regular";
}
.logo {
  text-align: center;

  left: 0%;

  right: 0;
  padding: 10px;
  margin-top: 13px;

  border-radius: 10px;
  img {
    height: 75px;
  }
}

