<ion-header>
  <ion-toolbar class="toolbarUSA">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-top: 10px">Pakket registratie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-title class="ion-text-center">Ontvanger information</ion-title>

    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="name"
        (ionInput)="onSearchChange($event)"
        placeholder="Naam"
      ></ion-input>
    </ion-item>
    <ion-label
      *ngIf="name && !isValidName"
      color="danger"
      class="ion-text-center custom-label"
    >
      Naam moet met hoofdletter beginnen
    </ion-label>

    <ion-list class="custom-dropdown">
      <ion-item *ngFor="let option of filteredOptions" (click)="selectOption(option)">
        {{ option.name }}
      </ion-item>
    </ion-list>
    

    <!-- Grouped Address and Plaats inputs -->
    <ion-item>
      <ion-row class="grouped-inputs">
        <ion-col size="6">
          <ion-input
            type="text"
            [(ngModel)]="address"
            placeholder="Address"
          ></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input
            type="text"
            [(ngModel)]="plaats"
            placeholder="Plaats"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="idnumber"
        placeholder="#Idnummer"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="telefoon"
        placeholder="Telefoon"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-title class="ion-text-center">Pakket information</ion-title>

    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="pakket_id"
        placeholder="#1234"
        disabled
        style="font-weight: bold;"
      >
        <ion-label style="padding-left: 16px">Pakket ID:</ion-label>
      </ion-input>
    </ion-item>
    
    
    
    

    <ion-item>
      <ion-input type="text" [(ngModel)]="tracking" placeholder="1234">
        <ion-label style="padding-left: 16px">Tracking:</ion-label>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="padding-left: 16px">Omschrijving:</ion-label>
      <ion-textarea label="Regular textarea" [(ngModel)]="pakket_omschrijving">
      </ion-textarea>
    </ion-item>

    <ion-item style="padding-top: 5px">
      <ion-input type="text" [(ngModel)]="volume">
        <ion-label style="padding-left: 16px">Gewicht:</ion-label>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    class="save-button"
    size="small"
    expand="block"
    (click)="saveData()"
    >Save</ion-button
  >
</ion-content>
