<ion-header>

</ion-header>

<ion-content>
    <div class="padding">
        <div class=form>
            <div class='logo'>
                <img src="../../assets/logo.png">
            </div>
            <ion-item no-lines class="input">
                <ion-input type="email" [(ngModel)]="email" placeholder="Username" (ionChange)="CheckInput()"></ion-input>
            </ion-item>
            <ion-item no-lines class="input">
                <ion-input type={{type}} [(ngModel)]="password" placeholder="Password" (ionChange)="CheckInput()">
                </ion-input>
                <ion-icon name="eye-off" (click)="toggleShow()"  *ngIf="showPassword == false"></ion-icon>
                <ion-icon name="eye" (click)="toggleShow()" *ngIf="showPassword == true"></ion-icon>
            </ion-item>
            <div class="validation" *ngIf="validation == 1">
                <ion-icon style="color: red;" name="warning-outline"> </ion-icon><span style="color: red;">The provided credentials do not match.</span>
            </div>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="success" expand="block" disabled={{buttonDisabled}} (click)="DoLogin()">Login</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>