<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        class="goBack"
        text=""
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>

    <ion-title> pakketten </ion-title>

    <ion-buttons slot="primary">
      <ion-button class="sorting-button" (click)="presentSortingOptions()">
        <ion-icon
          class="sort"
          slot="icon-only"
          class="sorting-icon"
          name="funnel-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar
  class="custom-searchbar"
  [(ngModel)]="input"
  (ionClear)="clearSearch()"

  (keydown)="onKeyDown($event)"
></ion-searchbar>


</ion-header>

<ion-content>
  <ion-list>
    <ion-card
      *ngFor="let pakket of filteredPakketten"
      class="custom-card data-table-card"
      (click)="toggleCardExpansion(pakket.pakket_id)"
      [ngClass]="{'expanded': expandedCardId === pakket.pakket_id}"
    >
      <div class="data-table">
        <ion-card-header>
          <ion-card-title class="card-title"
            >{{ pakket?.pakket_id }}</ion-card-title
          >
          <ion-card-title class="status-value"
            >{{ pakket?.status_name }}</ion-card-title
          >
          <ion-card-title class="lood-value" *ngIf="pakket?.number"
            >{{ pakket?.number }}</ion-card-title
          >
          <ion-card-title class="volume-value"
            >{{pakket?.volume}}kg</ion-card-title
          >
        </ion-card-header>
        <ion-card-content *ngIf="expandedCardId === pakket.pakket_id">
          <ion-row class="label-value-row">
            <ion-col size="4">
              <div class="data-label">Afzender</div>
            </ion-col>
            <ion-col size="8" class="data-value verzender">
              {{ pakket?.verzender }}
            </ion-col>
          </ion-row>
          <ion-row class="label-value-row">
            <ion-col size="4">
              <div class="data-label">Ontvanger</div>
            </ion-col>
            <ion-col size="8" class="data-value ontvanger">
              {{ pakket?.ontvanger }}
            </ion-col>
          </ion-row>
          <ion-row class="label-value-row">
            <ion-col size="4">
              <div class="data-label">Adres</div>
            </ion-col>
            <ion-col size="8" class="data-value bestemming">
              {{ pakket?.bestemming }}
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-row class="card-buttons">
          <ion-col>
            <ion-button
              class="aanpassen-btn"
              fill="clear"
              (click)="showConfirmationDialog(pakket.id, pakket.status_id)"
            >
              <ion-icon name="sync" style="margin-right: 4px"></ion-icon> Status
              Aanpassen
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
  <div *ngIf="noMatchingPackages" class="no-matching-packages-container">
    <p style="display: flex; justify-content: center; font-weight: bold">
      pakket niet gevonden
    </p>

    <img src="../../assets/bg.png" alt="No matching packages image" />
  </div>
  <!-- Display a button when no matching packages are found -->
  
  <ion-row
    *ngIf="noMatchingPackages && getSelectedStatus()?.id == 11"
    style="justify-content: center"
  >
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="addNewPackage()" class="custom-button">
        Voeg pakket toe
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
