/* styles.css or styles.scss */

.custom-card {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.custom-card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.custom-card .card-subtitle {
  font-size: 14px;
  color: #888;
}

.custom-card .status-value {
  font-size: 12px;
  color: #007bff; /* Change color based on your design */
}
.data-label{
  font-style: normal!important;
}

.no-matching-packages-container {
  text-align: center; /* Center align the content */
  padding: 20px; /* Add padding around the content */
}


/* Style the small descriptive text */
.small-descriptive-text {
  font-size: 16px; /* Set the font size */
  color: #666; /* Set the text color */
  margin-bottom: 20px; /* Add some space below the text */
}
/* Style the big bold text */
.big-bold-text {
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 10px; /* Add some space below the text */
}


.input-wrapper {
  background-color: #fdfcfa!important; /* Set the background color to match the card */
}
