

/* Remove the border shadow from the search bar */
ion-searchbar {
  --background: transparent; /* Set the background to transparent */
  --border-width: 0; /* Set the border width to 0 */
  --box-shadow: none; /* Remove the box shadow */
  --border-color: transparent; /* Set the border color to transparent */
}

.status-value {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
  font-size: 16px; /* Adjust the font size as needed */
  color: #151515; /* Adjust the color as needed */
  margin-top: 15px;

}

.lood-value {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
  font-size: 16px; /* Adjust the font size as needed */
  color: #151515; /* Adjust the color as needed */
  margin-top: 35px;
}

.card-title{
  font-size: 24px
}

.data-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}


.data-label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
  display: inline-block;
  color: #151515;
}

.data-value {
  display: inline-block; /* Display the value inline with the label */
  font-style:normal;
}
ion-card.custom-card {
  background-color: #f5f5f5;
  background-size: cover; /* Scales the background image to cover the entire card */
  background-repeat: no-repeat; /* Prevents the texture from repeating */
  border-radius: 12px; /* Add rounded corners to mimic a cardboard box */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional drop shadow for depth */
}

ion-card-content{
  margin: 1px;
  padding:6px
  
}
ion-card-header{
  margin: 1px;
  padding: 6px
  
}

.col-row{
  padding: 6px;
}

.fixed-width {
  width: 60px; /* Adjust the width as needed */
  text-align: left;
}

/* In your CSS or SCSS */
.expanded {
  max-height: 500px; /* Adjust the max-height as needed */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /* Add a transition effect for smooth expansion and collapse */
  background-color: black;
  border-radius: 8px;
}
.volume-value{
  font-style: normal;
  font-size: medium;
  padding-top: 10px;
  padding-left: 5px;
}
.lood-value{
  font-style: normal;
  font-size: medium;
  padding-top: 10px;
  padding-right: 20px;
}

.padded-value{
  padding-left: 20px;
}
.data-value {
  flex: 2; /* Let the values take up the remaining space */
  text-align: right; /* Align values to the right */
  font-size: 18px;
}
.label-value-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
