

.popover_setting {
    --min-width: 600px !important;
    --min-height: 150px !important;
    --ion-background-color: red;
    --ion-text-color: #ffffff;
    background-color: red;
}


.view-btn{
    text-transform: capitalize;
}

.aanpassen-btn{
    text-transform: capitalize;
}

.custom-searchbar {
    --background: white;
    --searchbar-input-background: #f2f2f2;
  }

.subTitle {
    text-transform: capitalize;
}