.sorting-options-header {
    background-color: #192734;
    color: #ffffff;
    padding: 10px;
  }
  
  .sorting-option {
    background-color: #192734;
    color: #ffffff;
    padding: 10px;
  }
  
  .sorting-option:hover {
    background-color: #22303C;
  }
  
  .sorting-option:active {
    background-color: #22303C;
    color: #428cff;
  }
  