$dark-theme-background-color: #15202b;
$dark-theme-text-color: #faf9f6;

:root {
  /*
   Light mode users
  */
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ios body[color-theme=""] {
  --ion-background-color: #9394a5;
}

body[color-theme="dark"] {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #5a89b8;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #272469;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-background-color: #181818;
  --ion-color-dark: #181818;
  --ion-color-dark-rgb: 24, 24, 24;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #161616;
  --ion-color-dark-tint: #202020;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

.ios body[color-theme="dark"] {
  --ion-background-color-rgb: 24, 24, 24;
  --ion-border-color: #999999;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #121212;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-toolbar-background: #121212;
  --ion-item-background: #fffff;
  --ion-item-border-color: #777777;
  --ion-item-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ios body[color-theme="dark"] .background,
.md body[color-theme="dark"] .background {
  background-color: #15202b;
  border: #ffffff;
}

.ios body[color-theme="dark"] .glass-card ion-text,
.md body[color-theme="dark"] .glass-card ion-text {
  color: #ffffff;
}

.ios body[color-theme="dark"] .glass-card ion-icon,
.ms body[color-theme="dark"] .glass-card ion-icon {
  color: #faf9f6;
}
.ios-body[color-theme="dark"] .view-btn ion-icon {
  --ion-text-color: #faf9f6;
}

/* Dark mode colors */
body[color-theme="dark"] {
  --ion-text-color: #faf9f6;
  --ion-background-color: #15202b;
}

body[color-theme="dark"] .custom-card ion-card {
  --ion-background-color: #192734;
}

body[color-theme="dark"] ion-card:hover {
  --ion-background-color: #22303c;
}

body[color-theme="dark"] ion-card ion-label {
  --ion-color: #8899a6;
}

body[color-theme="dark"] .view-btn {
  color: #faf9f6;
}

body[color-theme="dark"] .aanpassen-btn {
  color: #faf9f6;
}
body[color-theme="dark"] .sorting-button {
  color: #faf9f6;
}

body[color-theme="dark"] .goBack {
  color: #faf9f6;
}
body[color-theme="dark"] .sorting-icon {
  color: #faf9f6;
}
body[color-theme="dark"] .sorting-button {
  color: #faf9f6;
}

body[color-theme="dark"] ion-card-title {
  color: $dark-theme-text-color;
}

body[color-theme="dark"] .custom- {
  color: $dark-theme-text-color;
  background-color: $dark-theme-background-color;
}

body[color-theme="dark"] .glass-card ion-icon {
  color: #faf9f6;
}

body[color-theme="dark"] ion-icon {
  color: $dark-theme-text-color !important;
  filter: brightness(0.8) !important;
}

body[color-theme="dark"] ion-select {
  color: #faf9f6;
  --hightlight-color-focused: $dark-theme-text-color;
}

body[color-theme="dark"] ion-alert.select-alert {
  --hightlight-color-focused: blue;

  button {
    color: white !important;
    font-size: 12px !important;
  }

  .sc-ion-alert-md {
    color: white;
  }
  .alert-radio-label {
    color: $dark-theme-text-color;
  }
}

body[color-theme="dark"] {
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: $dark-theme-text-color;
  }
}

body[color-theme="dark"] ion-input {
  color: $dark-theme-text-color;
}
body[color-theme="dark"] item-item {
  color: $dark-theme-text-color;
}
body[color-theme="dark"] ion-content.lgn-btn {
  --background: $dark-theme-background-color;
  --background-hover: $dark-theme-background-color;
  --background-activated: $dark-theme-background-color$;
  --background-focused: $dark-theme-background-color;
  text-transform: capitalize;
}

body[color-theme="dark"] ion-content .form {
  background-color: #475f78;
}

body[color-theme="dark"] ion-card-subtitle {
  color: $dark-theme-text-color;
}
body[color-theme="dark"] ion-card.custom-card {
  border-style: solid;
  border-color: #f8f0e3;
}
body[color-theme="dark"] .lgn-btn {
  --background: var(--ion-color-danger);
  --background-hover: $dark-theme-background-color;
  --background-activated: $dark-theme-background-color;
  --background-focused: $dark-theme-background-color;
}

body[color-theme="dark"] ion-back-button {
  color: $dark-theme-text-color;
}

body[color-theme="dark"] .custom-searchbar {
  color: $dark-theme-background-color;
}

body[color-theme="dark"] .logo-home {
  background-image: url("https://s.hs-data.com/bilder/spieler/gross/13029.jpg");
  background-size: cover;
}

.logo-home {
  background-image: url("../../assets/logo.png");
}

body[color-theme="dark"] .sorting-options-header {
  background-color: #192734;
  color: #ffffff;
  padding: 20px;
  
  
}

body[color-theme="dark"] .sorting-option{
  background-color: #192734;
  color: #ffffff;
  padding: 10px;
}


body[color-theme="dark"] .sorting-option:hover {
  background-color: #22303C;
}

body[color-theme="dark"] .sorting-option:active {
  background-color: #22303C;
  color: #428cff;
}

body[color-theme="dark"] ion-list-header{
  width: 4000px;
}