@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.popover-content sc-ion-popover-md {
  top: 300px !important;
  // --background: #121212 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff; /* Text color for dark mode */
  }
}

.custom {
  background: transparent !important;
  .divider-option {
    text-align: left;
    z-index: 10;
    content: "Reference ";
    border-top: 1px solid black;

    .alert-radio-icon {
      opacity: 0;
    }
    .alert-radio-label {
      text-align: left;
    }
  }
}

// /* Dark mode styling */
// .ion-color-dark ion-input {
//   border-color: #999999 !important;
//   --ion-color-border-hover: #999999 !important;
//   --ion-color-border-activated: #999999 !important;
// }
// ion-content ion-input {
//   --border-color: #999999 !important;
// }


/*

pakketten menu

*/


.ion-color-dark ion-card.custom-card {
  --background: #272469;
  --border-color: var(--ion-border-color);
  --border-width: 1px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

