ion-card-subtitle {
  font-size: 16px;
}

section {
  padding-left: 9px;
  padding-right: 9px;
}

ion-select {
  --placeholder-opacity: 1;
}
ion-toolbar {
  background-color: #cf3c4f !important;
}


.custom-btn{
  
  width: 100px;
  margin: 0 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}