ion-card-subtitle{
    font-size: 16px;
}
ion-content{
    // --ion-background-color: #89CFF0;
}
ion-card{
    // background-color: #1f1f1f;
}
section{
    padding-left: 9px;
    padding-right: 9px;

}
ion-button{
    --background: #cf3c4f;
    // --border-radius: 20px;
}
ion-item{
    // --background: #1f1f1f;
}
ion-select{
    // --placeholder-color: #fff;
    --placeholder-opacity: 1;
    // color: #fff !important;
}
ion-toolbar{
    background-color: #cf3c4f !important;
}
ion-label{
    // color: #fff !important;
}
ion-card-title {
    // color: #fff !important;
}